.input-group{
    width: 800px;
}

.input-group-text{
    width: 200px;
}

body{
    font-size: 18px !important;
    font-family: Felix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

/* colors */

.yellow{
    background-color: #ffcc00;
}

.lightpink{
    background-color: #f9aecd;
}

.violet{
    background-color: #beb0ff;
}

.violet-color{
    color: #beb0ff;
}

.cyan{
    background-color: #56ddf0;
}

.lightgreen{
    background-color: #c0ed0c;
}

.red{
    background-color: #fc3232;
}

.pink{
    background-color: #fa329c;
}

.purple{
    background-color: #9535f9;
}

.blue{
    background-color: #0050ff;
}

.green{
    background-color: #2add5d;
}

.brown{
    background-color: #660405;
}

.grape{
    background-color: #78034a;
}

.darkpurple{
    background-color: #69197c;
}

.darkpurple-color{
    color: #69197c;
}

.navy{
    background-color: #03357c;
}

.darkgreen{
    background-color: #014c35;
}

.black{
    background-color: #000;
}

.white{
    background-color: #fff;
}


/* navbar */

header{
    box-shadow: gray 1px 2px 3px;

}

#navbarNav {
    display: flex;
    justify-content: flex-end;
    padding: 0.3em;
}

/* home page css */

.flex-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 25px;
}

.flex-wrapper span{
    color: #56ddf0;
    font-weight: bold;
}

.text-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding-bottom: 30px;
}

.text-wrapper-text{
    width: 500px;
}



.parallax {
    /* The image used */
    background-image: url(../img/placeholder-home.avif);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-item{
    background: rgba(0,0,0,0.5);
    min-height: 250px;
    padding-bottom: 50px;
}

/* carousel css */

.carousel-item{
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

/* uitleg page css */

/*.card{*/
/*    margin: 20px 20px 0px 0px;*/
/*    padding-bottom: 10px;*/
/*    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);*/
/*    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);*/
/*}*/

/*.card-title span{*/
/*    color: #66cadf;*/
/*    font-weight: bold;*/
/*}*/

.ul-title{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.explanation-content{
    border-style: solid;
    border-color: #69197c;
    border-width: 2px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.explanation-content h2{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.explanation-content h3{
    text-align: center;
    font-weight: bold;
}

.explanation-images{
    display: flex;
}

.explanation-images img{
    margin: 20px 0px 20px 0px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 10px #69197c solid;
    border-radius: 100%;
}

.explanation-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.explanation-button a{
    font-weight: bold;
}
.explanation-button a:hover{
    background-color: #beb0ff;
    border: #69197c 2px solid;
    margin-bottom: -2px;
}

.explanation-info{
    margin-top: 20px;
}

.explanation-info img{
    float: right;
    border-radius: 20px;
    margin: 0px 0px 50px 50px;
}

.explanation-info p{
    margin: 0px 20px 50px 20px;
}

/* main */

main{
    min-height: 858px;
}


